.toggle-button {
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 226, 65);
    font-family: 'Bowlby One', cursive;
    font-size: 37px;
    color: white;
    -webkit-text-stroke: 1.7px black;
    cursor: pointer;

    .train-button {
        border: 3px solid black;
        border-radius: 10px 0 0 10px;
        padding: 0 13px;
    }
      
    .game-button {
        border: 3px solid black;
        border-radius: 0 10px 10px 0;
        padding: 0 13px;
        margin-left: -3px;
    }

    .active {
        background-color: #FFA90B;
        transition: background 0.5s;
        cursor: default;
    }
}
