<div class="card">
  <div class="card__info">
    <div class="card__image-container">
      <img src="{{card.imageSrc}}" alt="card" class="card__image">
    </div>
    <span>{{card.word}}</span>
  </div>
  <div class="card__buttons">
    <div class="card__button">
      <img src="assets/images/sound.png" alt="icon" class="card__button-icon">
    </div>
    <div class="card__button">
      <img src="assets/images/flip.png" alt="icon" class="card__button-icon flip-button">
    </div>
  </div>
</div>